.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 28px;
}

.filter label {
  font-size: 1rem;
  color: #555;
}

.filter input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
